[submodule "extern/Spatial_Audio_Framework"]
	path = extern/Spatial_Audio_Framework
	url = https://github.com/leomccormack/Spatial_Audio_Framework.git
[submodule "extern/JUCE"]
	path = extern/JUCE
	url = https://github.com/juce-framework/JUCE.git
